*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 345px;
    border: 1px solid #000;
    padding: 20px;
    margin: 50px auto;
    .image_sec{
       
       p{
        font-size: 14px;
        display: inline-block;
        background-color: #6E2594;
        padding: 3px 7px 3px 2px;
        color: #fff;
        border-radius: 0 20px 20px 0;
       }
        img{
            width: 85%;
            height: auto;
            margin: auto;
            display: block;
        }
    }

    .details{
        h4{
            a{
                font-size: 14px;
                color: #111;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover{
                color:#ef4a23;
                text-decoration: underline;
            }
            margin-bottom: 15px;
        }
        ul{
            padding: 10px 0 0 14px;
            height: auto;

            li{
                padding:0 0 10px;
                color: #666;
            }
        }

        .price_sec{
            h4{
                font-size: 22px;
                color: #d51e0b;
                font-weight: bold;
                text-align: center;
                padding: 10px 0 0;
                span{
                    color: #666;
                    font-size: 17px;
                    padding: 0 0 0 5px;
                }
            }

            .btn{
                button{
                    width: 90%;
                    height: 35px;
                    background-color: rgba(55, 73, 187,0.3);
                    border: none;
                    margin: 3px auto;
                    display: block;
                    color: #3749bb;
                }
            }
        }

    }
}